docs/build
keys.txt
examples/.ipynb*
examples/*Copy*.ipynb
examples/logs/*
examples/*.h5
examples/play*
examples/new*
examples/archive
examples/Untitled*
data/Tatoeba
data/MIT-normal_sinus_rhythm
data/pretrained
test/logs
codecov.token
logs
.vscode
try